{% extends 'base.html' %}

{% block head %}

<title>Search Page</title>
<link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}">
{% endblock %}

{% block body %}
<div class="content">
    <h1 style="text-align: center">Predict the chances of Extramarital affair</h1>

    <div class="form">
        <form action="/predict" method="POST">
            <label for="age">Age:</label><br>
            <input type="number" name="age" id="age" placeholder="Age"><br><br>
            <label for="yrs_married">No of years married:</label><br>
            <input type="number" name="yrs_married" id="yrs_married" placeholder="Years Married"><br><br>
            <label for="children">No of children:</label><br>
            <input type="number" name="children" id="children" placeholder="No of Children"><br><br>
            <label for="rate_marriage">Rate the marriage:</label><br>
            <select name="rate_marriage" id="rate_marriage"><br><br>
  <option value="very poor">Very Poor</option>
  <option value="poor">Poor</option>
  <option value="fair">Fair</option>
  <option value="good">Good</option>
  <option value="very good">Very Good</option>
  </select><br><br>
           <label for="religious">Religious:</label><br>
           <select name="religious" id="religious"><br><br>
  <option value="not">Not Religious</option>
  <option value="mildly">Mildly</option>
  <option value="fairly">Fairly</option>
  <option value="strongly">Strongly</option>
</select><br><br>
            <label for="educ">Education:</label><br>
            <select name="educ" id="educ"><br><br>
  <option value="Grade School">Grade School</option>
  <option value="High School">High School</option>
  <option value="Some College">Some College</option>
  <option value="College Graduate">College Graduate</option>
  <option value="Some Graduate School">Some Graduate School</option>
  <option value="Advanced Degree">Advanced Degree</option>
</select><br><br>
            <label for="occupation">Wife Occupation:</label><br>
            <select name="occupation" id="occupation"><br><br>
  <option value="student">Student</option>
  <option value="farming/semi-skilled/unskilled worker">Farming/Semi-skilled/Unskilled worker</option>
  <option value="white-collar">White-collar</option>
  <option value="teacher/counselor/social worker/skilled worker">Teacher/Counselor/Social worker/Skilled worker</option>
  <option value="managerial/administrative/business">Managerial/Administrative/Business</option>
  <option value="professional with advanced degree">Professional with advanced degree</option>
  <option value="Advanced Degree">Advanced Degree</option>
</select><br><br>
            <label for="occupation_husb">Husband Occupation:</label><br>
            <select name="occupation_husb" id="occupation_husb"><br><br>
  <option value="student">Student</option>
  <option value="farming/semi-skilled/unskilled worker">Farming/Semi-skilled/Unskilled worker</option>
  <option value="white-collar">White-collar</option>
  <option value="teacher/counselor/social worker/skilled worker">Teacher/Counselor/Social worker/Skilled worker</option>
  <option value="managerial/administrative/business">Managerial/Administrative/Business</option>
  <option value="professional with advanced degree">Professional with advanced degree</option>
  <option value="Advanced Degree">Advanced Degree</option>
</select>
            <input type="submit" value="Predict">
        </form>
    </div>
</div>
{% endblock %}